<ion-header>
  <ion-toolbar>
    <ion-title>
      Alle Lichter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div *ngIf="!loaded; else loaded_1">
    Loading : {{ loaded$ | async }}
  </div>
  
  <ng-template #loaded_>
    <ion-grid class="ion-no-padding" *ngIf="simpleLightStatesView.length > 0">
      <ion-row class="">
        <ion-col #test *ngFor="let simpleLightState of simpleLightStatesView" size="6" [id]="simpleLightState.name" >
          <div class="card">
            <ion-grid class="ion-no-padding">
              <ion-row style="font-size: 0.7rem;">
                <ion-col class="ion-no-padding"><p align="center">{{ getByLanguage(simpleLightState.name)}}</p></ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid class="ion-no-padding">
              <ion-row style="font-size: 0.7rem;">
                <ion-col class="ion-no-padding"><p align="center">{{ getByLanguage(simpleLightState.roomName) }}</p></ion-col>
                <ion-col class="ion-no-padding"><p align="center">{{ getByLanguage(simpleLightState.floorName) }}</p></ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <ion-row>
                <ion-button (click)="lightsToggle(simpleLightState.id, !simpleLightState.state)" size="small" color="light" fill="clear">
                  <img [src]="iconsService.getIcon('light', 'blue-ui-' + simpleLightState.state, '20')">
                </ion-button>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
  <ng-template #loaded_1>
    <ion-list>
      <!-- <ion-list-header>
        Lights
      </ion-list-header> -->
      <ion-item-group>
        <div *ngFor="let simpleLightStateStruct of simpleLightStatesViewGrouped | keyvalue">
          <ion-item-divider>
            <ion-label>{{simpleLightStateStruct.value.name}}</ion-label>
          </ion-item-divider>
          <ion-item lines="none" *ngFor="let simpleLightState of simpleLightStateStruct.value.values" (click)="lightsToggle(simpleLightState.id, !simpleLightState.state)" >
            <ion-label>{{getByLanguage(simpleLightState.name)}}</ion-label>
            <ion-note slot="end" color="success">
              <ion-button (click)="lightsToggle(simpleLightState.id, !simpleLightState.state)" size="small" color="light" fill="clear">
                <img [src]="iconsService.getIcon('light', 'blue-ui-' + simpleLightState.state, '20')">
              </ion-button>
            </ion-note>
          </ion-item>
        </div>
      </ion-item-group>
    </ion-list>
  </ng-template>
</ion-content>
