<ion-item>
  <app-tree-element [treeData]="treeData" (moreInfoFor)="getMoreInfo($event)"></app-tree-element>
</ion-item>
<ng-container *ngIf="!withoutAgenda">
  <ion-item>
    <ion-label>Show Legende</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="showAgenda"></ion-checkbox>
  </ion-item>
  <ng-container *ngIf="showAgenda">
    <ion-card>
      <ion-card-content>
        <ion-item>Legende</ion-item>
        <ion-item lines="none" [ngClass]="['folderText-standard']">standard</ion-item>
        <ion-item lines="none" [ngClass]="['folderText-state']">state</ion-item>
        <ion-item lines="none" [ngClass]="['folderText-device']">device</ion-item>
        <ion-item lines="none" [ngClass]="['folderText-channel']">channel</ion-item>
        <ion-item lines="none"><span [ngClass]="['valueKey']">key: </span><span [ngClass]="['valueValue']">value</span>
        </ion-item>
        <ion-item lines="none" [ngClass]="['specialFolderText']">specialFolder</ion-item>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ng-container>