<ion-header>
</ion-header>
<ion-content>
    <ion-toolbar style="--border-style: none; background: transparent;">
        <ion-buttons slot="end">
            <ion-button (click)="myDismiss()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ng-container *ngFor="let folderItem of folders | keyvalue">
        <ng-container *ngIf="folderItem.value.values.length !== 0">
            <ng-container *ngIf="folderItem.value.params as folderParams">
                <ion-item-divider lines='none'>
                    <ion-label>{{folderParams.menuName  | getname}}</ion-label>
                </ion-item-divider>
                <ng-container *ngFor="let linkItem of folderItem.value.values; trackBy: trackByPath">
                    <ion-item lines='none' (click)="navigate(linkItem.fullPath)">
                        <ng-container *ngIf="linkItem.isActive">
                            <img [src]="linkItem.image_selected_true" slot="start">
                            <ion-label color="primary">{{linkItem.title | getname}}</ion-label>
                        </ng-container>
                        <ng-container *ngIf="!linkItem.isActive">
                            <img [src]="linkItem.image_selected_false" slot="start">
                            <ion-label>{{linkItem.title | getname}}</ion-label>
                        </ng-container>
                    </ion-item>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</ion-content>