<ion-header>
    <ion-toolbar style="--border-style: none; background: transparent;">
        <div style="padding-top:5px; padding-bottom: 5px; padding-left: 0rem; padding-right: 0rem;">
            <ion-button color="light" expand="full" fill="outline" shape="round"
                style="--padding-start: 0px; --border-radius:15px; --box-shadow:2px 2px 15px -1px rgba(0, 0, 0, 0.2)" (click)="myDismiss()">
                <ion-toolbar style="--border-style: none; background: transparent;">
                    <img *ngIf="menu['image']" style="padding-left: 1em;" [src]="menu['image']"
                        slot="start">
                    <ion-label style="margin-left:1rem;" slot="start">{{menu['title'] | getname}}</ion-label>
                </ion-toolbar>
            </ion-button>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ng-container *ngFor="let folderItem of folders | keyvalue">
        <ng-container *ngIf="folderItem.value.values.length !== 0">
            <ng-container *ngIf="folderItem.value.params as folderParams">
                <ion-item-divider lines='none'>
                    <ion-label>{{folderParams.menuName  | getname}}</ion-label>
                </ion-item-divider>
                <ng-container *ngFor="let linkItem of folderItem.value.values; trackBy: trackByPath">
                    <ion-item lines='none' (click)="navigate(linkItem.fullPath)">
                        <ng-container *ngIf="linkItem.isActive">
                            <img [src]="linkItem.image_selected_true" slot="start">
                            <ion-label color="primary">{{linkItem.title | getname}}</ion-label>
                        </ng-container>
                        <ng-container *ngIf="!linkItem.isActive">
                            <img [src]="linkItem.image_selected_false" slot="start">
                            <ion-label>{{linkItem.title | getname}}</ion-label>
                        </ng-container>
                    </ion-item>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</ion-content>