<ion-header>
    <!-- <app-menu></app-menu> -->
    <ng-container *ngIf="(levelStruct$ | async) as level_struct">
        <app-views-component [levelStruct]="level_struct" [htmlBoolPanels]="this.htmlBoolPanels"
            [htmlNumberPanels]="this.htmlNumberPanels" [valueSelectionID]="this.valueSelectionID"
            [valueSelectionFilters]="this.valueSelectionFilters" [view]="viewToShow.header">
        </app-views-component>
    </ng-container>
</ion-header>

<ion-content>
    <ng-container *ngIf="(levelStruct$ | async) as level_struct">
        <div>
            <ng-container *ngFor="let member of level_struct.getMembers(); trackBy: trackById">
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: member }"></ng-container>
            </ng-container>
        </div>
    </ng-container>
    <ng-template #recursiveList let-level_struct>
        <ng-container *ngIf="level_struct">
            <app-views-component *ngIf="level_struct.level === 1" [levelStruct]="level_struct"
                [htmlBoolPanels]="this.htmlBoolPanels" [valueSelectionID]="this.valueSelectionID"
                [htmlNumberPanels]="this.htmlNumberPanels" [valueSelectionFilters]="this.valueSelectionFilters"
                [view]="viewToShow.divider" [level]="level_struct.level-2" [withOpener]="false">
            </app-views-component>
            <app-views-component *ngIf="level_struct.level > 1" [levelStruct]="level_struct"
                [htmlBoolPanels]="this.htmlBoolPanels" [valueSelectionID]="this.valueSelectionID"
                [htmlNumberPanels]="this.htmlNumberPanels" [valueSelectionFilters]="this.valueSelectionFilters"
                [view]="viewToShow.ultra_compact" [level]="level_struct.level-2" [withDetails]="false"
                [withOpener]="false" [color]="'light'" [emptyColor]="''">
            </app-views-component>
            <ng-container>
                <ng-container *ngFor="let member of level_struct.getMembers(); trackBy: trackById">
                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: member }"></ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-template>
</ion-content>