<ion-header>
  <br>
  <ion-toolbar>
    <app-menu-bar></app-menu-bar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div [ngSwitch]="templateToShow">

    <ng-template [ngSwitchCase]= "'notLoaded'">
      <div>loading</div>
    </ng-template>

    <ng-template [ngSwitchCase]= "'loaded'">
      <ion-list>
        <ion-list-header>
          <ion-text style="margin:1em;">Here you can find all Members(Devices)-ID defined in enums, that are no longer available and can be deleted...</ion-text>
        </ion-list-header>
        <ion-button size="small" color="danger" expand="full" (click)="removeAllEnumMembersFromGroup()">delete all</ion-button>
        <ion-item-group *ngFor="let group of groups | keyvalue">
          <ng-container *ngIf="group.value.counterWrongMembersEntry > 0">
            <ion-item-divider sticky="true" color="medium">
              <ion-label (click)="group.value.expanded = !group.value.expanded"><b>{{helperService.getByLanguage(group.value.name)}}</b></ion-label>
              <ion-icon (click)="group.value.expanded = !group.value.expanded" *ngIf="group.value.expanded" slot="start" name="arrow-down"></ion-icon>
              <ion-icon (click)="group.value.expanded = !group.value.expanded" *ngIf="!group.value.expanded" slot="start" name="arrow-forward" ></ion-icon>
              <ion-note (click)="group.value.expanded = !group.value.expanded" slot="end" color="danger" style="margin-right:1em;">{{group.value.counterWrongMembersEntry}}</ion-note>
              <ion-button color="danger" fill="solid" slot="end" (click)="removeAllEnumMembersFromEnumGroupStruct(group.key)">delete all</ion-button>
            </ion-item-divider>
            <div *ngIf="group.value.expanded">
              <ion-item-group *ngFor="let enums of group.value.enums | keyvalue">
                <div *ngIf="enums.value.counterWrongMembersEntry > 0">
                  <ion-item-divider sticky="true">
                    <ion-label (click)="enums.value.expanded = !enums.value.expanded">{{helperService.getByLanguage(enums.value.name)}}</ion-label>
                    <ion-icon (click)="enums.value.expanded = !enums.value.expanded" *ngIf="enums.value.expanded" style="margin-right:1em;"slot="start" name="arrow-down" ></ion-icon>
                    <ion-icon (click)="enums.value.expanded = !enums.value.expanded" *ngIf="!enums.value.expanded" style="margin-right:1em;"slot="start" name="arrow-forward" ></ion-icon>
                    <ion-note (click)="enums.value.expanded = !enums.value.expanded" slot="end" color="danger" style="margin-right:1em;">{{enums.value.counterWrongMembersEntry}}</ion-note>
                    <ion-button color="danger" fill="solid" slot="end" (click)="removeAllEnumMebersFromEnumStruct(group.key, enums.key)">delete all</ion-button>
                  </ion-item-divider>
                  <div *ngIf="enums.value.expanded">
                    <ion-item lines="none" *ngFor="let entrie of enums.value.entries">
                      <ion-label>{{entrie}}</ion-label>
                      <ion-button color="danger" fill="solid" slot="end" (click)="removeEnumMember(enums.value.enumID, [entrie])">delete</ion-button>
                    </ion-item>
                  </div>
                </div>
              </ion-item-group>
            </div>
          </ng-container>
        </ion-item-group>
      </ion-list>
    </ng-template>

  </div>
</ion-content>
