ion-header{
    height: 15px;
    // border-style: solid;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin:5px;
  }

.dot_div{
    text-align:right;
    padding-right: 15px;
    margin:0px;
}