<ion-header>
    <br>
    <ion-toolbar>
        <ion-title>{{title}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item line="none">
        <ion-buttons *ngIf="templateToShow > '0'" slot="start">
            <ion-button size="small" fill="outline" (click)="templateToShow = templateToShow - 1">
                <ion-label>
                    << back</ion-label> </ion-button> </ion-buttons> <ion-buttons *ngIf="templateToShow < '2'"
                        slot="end">
                        <ion-button size="small" fill="outline" (click)="templateToShow = templateToShow + 1">
                            <ion-label> >> next</ion-label>
                        </ion-button>
        </ion-buttons>
    </ion-item>


    <div [ngSwitch]="templateToShow">
        <!-- ========================================================================================================================== -->
        <ng-template [ngSwitchCase]="'0'">
            <ion-list>
                <ion-radio-group [ngModel]="inputDev.viewInputStructDev.objectID" (ionChange)="row1SelectChanged($event)">
                    <ion-list-header>
                        <ion-label>Select Row1</ion-label>
                    </ion-list-header>
                    <ion-item *ngFor="let row1ToSelectItem of inputDev.viewInputStructDev.objectsToSelect">
                        <ion-label>{{getRowName(row1ToSelectItem)}}</ion-label>
                        <ion-radio slot="start" [value]="row1ToSelectItem"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <ion-list>
                <ion-list-header>
                    <ion-label>Select {{getRowName(inputDev.viewInputStructDev.objectID)}}</ion-label>
                </ion-list-header>
                <ion-item *ngFor="let rowFilter of row1FilterSelection">
                    <ion-label>{{this.helperService.getByLanguage(rowFilter.name)}}</ion-label>
                    <ion-checkbox slot="start" [(ngModel)]="rowFilter.selected" [value]="rowFilter.id"></ion-checkbox>
                </ion-item>
            </ion-list>
        </ng-template>
        <!-- ========================================================================================================================== -->
        <ng-template [ngSwitchCase]="'1'">
            <ion-list>
                <ion-radio-group [(ngModel)]="inputDev.viewInputStructDev.childViewInputStructDev.objectID">
                    <ion-list-header>
                        <ion-label>Select Row2</ion-label>
                    </ion-list-header>
                    <ion-item *ngFor="let row2ToSelectItem of getRows2ToSelect()">
                        <ion-label>{{getRowName(row2ToSelectItem)}}</ion-label>
                        <ion-radio slot="start" [value]="row2ToSelectItem"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
        </ng-template>
        <!-- ========================================================================================================================== -->
        <ng-template [ngSwitchCase]="'2'">
            <ion-list>
                <ion-radio-group>
                    <ion-list-header>
                        <ion-label>Select Functions</ion-label>
                    </ion-list-header>

                    <ion-item *ngFor="let functionFilterS of functionFilterSelection">
                        <ion-label>{{helperService.getByLanguage(functionFilterS.name)}}</ion-label>
                        <ion-checkbox [(ngModel)]="functionFilterS.selected" slot="start" [value]="functionFilterS.id">
                        </ion-checkbox>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
        </ng-template>
        <!-- ========================================================================================================================== -->
    </div>
</ion-content>