<ion-header>
    <br>
    <ion-toolbar>
        <ion-title>{{title}} - Dynamic</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="CTRLclose()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item line="none">
        <ion-buttons slot="start">
            <ion-button *ngIf="templateToShow !== 0" size="small" fill="outline" (click)="templateToShow = 0">
                <ion-label> HOME</ion-label>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button slot="start" *ngIf="templateToShow !== 1" size="small" fill="outline"
                (click)="templateToShow = 1; CTRLgenerateAdminLevelStructSting()">
                <ion-label>Show AdminLevelStruct</ion-label>
            </ion-button>
            <ion-button slot="end" *ngIf="templateToShow !== 2" size="small" fill="outline"
                (click)="templateToShow = 2; CTRLgenerateAdminLevelStructSting()">
                <ion-label>Show String</ion-label>
            </ion-button>
            <ion-button slot="end" color="danger" *ngIf="templateToShow === 0 " size="small" fill="outline"
                (click)="CTRLresetAll()">
                <ion-label>Reset</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-item>


    <div [ngSwitch]="templateToShow">
        <!-- ========================================================================================================================== -->
        <ng-template [ngSwitchCase]="'0'">
            <!--value Selection -->
            <ion-item-group>
                <ion-item-divider>
                    <ion-label>Value Selection</ion-label>
                </ion-item-divider>
                <ion-item *ngIf="valueSelectionAvailableIds && valueSelectionAvailableIds.length > 0">
                    <ion-label>Select:</ion-label>
                    <ion-select #HTMLvalueSelctionID ok-text="Ok"
                        cancel-text="Cancel" (ionChange)="CTRLvalueSelectionChanged($event)">
                        <ion-select-option [selected]="valueSelectionID === null || valueSelectionID === ''">-</ion-select-option>
                        <ion-select-option *ngFor="let valueSelectionAvailableId of valueSelectionAvailableIds"
                            [value]="valueSelectionAvailableId"
                            [selected]="valueSelectionAvailableId === valueSelectionID">
                            {{helperService.getByLanguage(adminLevelStructService.CTRLgetNameFromID(valueSelectionAvailableId))}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="valueSelectionAvailableFilters && valueSelectionAvailableFilters.length > 0">
                    <ion-label>Select Filter</ion-label>
                    <ion-select #HTMLvalueSelction multiple ok-text="Ok" cancel-text="Cancel"
                        (ionChange)="CTRLvalueSelectionFilterChanged($event)">
                        <ion-select-option *ngFor="let valueSelectionAvailableFilter of valueSelectionAvailableFilters"
                            [value]="valueSelectionAvailableFilter"
                            [selected]="CRTLisSelected1(valueSelectionAvailableFilter, valueSelectionFilters)">
                            {{helperService.getByLanguage(adminLevelStructService.CTRLgetNameFromID(valueSelectionAvailableFilter))}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-item-group>

            <ng-container *ngFor="let iLevelStruct of CTRLgetLevelStructGenerator()">
                <ion-item-group>
                    <ion-item-divider>
                        <ion-label>Select Level: {{iLevelStruct.level}}</ion-label>
                        <ion-button fill="outline" *ngIf="iLevelStruct.id && !iLevelStruct.subLevel" slot="end"
                            (click)="CTRLaddLevel(iLevelStruct)">+ Level</ion-button>
                        <ion-button fill="outline" color="danger" slot="end"
                            (click)="CTRLdeleteLevel(iLevelStruct)">- Level</ion-button>
                    </ion-item-divider>
                    <ion-item>
                        <ion-label>*Select:</ion-label>
                        <ion-select *ngIf="iLevelStruct.availableLevelIDs && iLevelStruct.availableLevelIDs.length > 0" ok-text="Ok" cancel-text="Cancel"
                            (ionChange)="CTRLlevelIDChanged($event, iLevelStruct)">
                            <ion-select-option *ngFor="let availableLevelID of iLevelStruct.availableLevelIDs"
                                [value]="availableLevelID" [selected]="availableLevelID === iLevelStruct.id">
                                {{CTRLgetObjectType(availableLevelID)}} - {{helperService.getByLanguage(adminLevelStructService.CTRLgetNameFromID(availableLevelID))}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item
                        *ngIf="iLevelStruct.subLevelAvailableFilters && iLevelStruct.subLevelAvailableFilters.length > 0">
                        <ion-label>Select SubLevelFilter</ion-label>
                        <ion-select multiple ok-text="Ok" cancel-text="Cancel"
                            (ionChange)="CTRLsubLevelFilterChanged($event, iLevelStruct)">
                            <ion-select-option
                                *ngFor="let subLevelAvailableFilter of iLevelStruct.subLevelAvailableFilters"
                                [value]="subLevelAvailableFilter"
                                [selected]="CRTLisSelected1(subLevelAvailableFilter, iLevelStruct.subLevelFilters)">
                                {{helperService.getByLanguage(adminLevelStructService.CTRLgetNameFromID(subLevelAvailableFilter))}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-item-group>
            </ng-container>
        </ng-template>
        <!-- ========================================================================================================================== -->
        <ng-template [ngSwitchCase]="'2'">
            <code>
                <pre>{{tmpAdminLevelString}}</pre>
            </code>
        </ng-template>
        <!-- ========================================================================================================================== -->
        <ng-template [ngSwitchCase]="'1'">
            <div style="margin:2em;">
                <!-- <app-tree [treeData]="adminLevelStruct" [showAgenda]="false" (moreInfoFor)="getMoreInfo($event)"> -->
                <app-tree [treeData]="tmpAdminLevelStruct" [showAgenda]="false" (moreInfoFor)="getMoreInfo($event)">
                </app-tree>
            </div>
        </ng-template>
        <!-- ========================================================================================================================== -->
    </div>
</ion-content>