<ion-header>
    <div style="padding-top:1rem; padding-bottom: 1rem;padding-left: 1rem;padding-right: 1rem;">
        <ion-toolbar color="light" (click)="myDismiss()">
            <ion-icon slot="start" [name]="menu['icon']"></ion-icon>
            <div style="margin-left:1rem;">{{menu['title']}}</div>
        </ion-toolbar>
    </div>
</ion-header>
<ion-content>
    <ng-container *ngFor="let menuItem of menuItems; trackBy: trackByPath">
        <ion-item (click)="navigate('app/' + menuItem.path)"><ion-label>{{menuItem.data.title}} :: {{menuItem.path}}</ion-label></ion-item>
    </ng-container>
</ion-content>