<ng-container *ngFor="let subTree of treeData | keyvalue: keyAscOrder">
    <div *ngIf="test(subTree)"></div>
    <ng-container [ngSwitch]="getTreeType(subTree.key, subTree.value)">
        <ng-template [ngSwitchCase]="'folder'">
            <div [ngClass]="['container']">
                <div class="folderIcon" (click)="subTree.value.__visible__ = !subTree.value.__visible__"></div>
                <div [ngClass]="['folderText', 'folderText-' + getType(subTree.value)]" (click)="subTree.value.__visible__ = !subTree.value.__visible__">{{getFolderNamePrefix(subTree.value)}}{{subTree.key}}</div>
                <app-tree-element *ngIf="isVisible(subTree.value)" [treeData]="subTree.value" (moreInfoFor)="getMoreInfo($event)"></app-tree-element>
            </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'specialFolder'">
            <div class="container">
                <div class="specialFolderIcon" (click)="subTree.value.__visible__ = !subTree.value.__visible__"></div>
                <div class="specialFolderText" (click)="subTree.value.__visible__ = !subTree.value.__visible__">{{subTree.key}}</div>
                <app-tree-element *ngIf="isVisible(subTree.value)" [treeData]="subTree.value" (moreInfoFor)="getMoreInfo($event)"></app-tree-element>
            </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'value'">
            <div class="container">
                <div class="valueIcon"></div>
                <div class="valueText"><span class="valueKey">{{subTree.key}} :</span> <span class="valueValue">{{subTree.value}}</span></div>
            </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'specialValue'">
            <div class="container">
                <div class="specialValueIcon"></div>
                <div class="specialValueText"><span class="valueKey">{{subTree.key}} :</span> <span class="valueValue">{{subTree.value}}</span></div>
            </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'infoTag'">
            <div style="padding-left:0;"  (click)="getMoreInfo(subTree.value.__infoToSendBack__)">
                <div class="button" color="secondary">
                    <table>
                        <tbody>
                            <tr *ngFor="let values of subTree.value | keyvalue">
                                <ng-container *ngIf="values.key !== '__infoToSendBack__'">
                                    <td style="text-align: left;">{{values.key}}</td>
                                    <td *ngIf="values.key === 'x-State'" style="font-weight: bold">{{values.value}}</td>
                                    <td *ngIf="values.key !== 'x-State'">{{values.value}}</td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                    <div style="font-size:x-small">click to see more</div>
                </div>
            </div>
        </ng-template>
    </ng-container>
</ng-container>