<ng-container *ngIf="templateToShow === 'overview'">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="medium" (click)="templateToShow = 'filter'">
          <ion-icon slot="icon-only" name="funnel"></ion-icon>
        </ion-button>
      </ion-buttons>
      <app-menu-bar *ngIf="row1ObjectStruct && row1ObjectStruct.id && row1ObjectStruct.name" [icon]="row1ObjectStruct.id.substring(row1ObjectStruct.id.lastIndexOf('.')+1)"
        [menu]="pageService.getActiveMenuModel()" [menuTitle]="helperService.getByLanguage(row1ObjectStruct.name)"></app-menu-bar>
      <app-menu-bar *ngIf="!(row1ObjectStruct && row1ObjectStruct.id && row1ObjectStruct.name)" [menu]="pageService.getActiveMenuModel()" [menuTitle]="'Functions - '"></app-menu-bar>
      <app-states-component *ngIf="loaded" slot="end" [appStates]="row1ObjectStruct.functionStates" [view]="'total_toolbar'"></app-states-component>
      <ion-buttons slot="end">
        <ion-button color="medium" (click)="functionSelection()">
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ng-container *ngIf="loaded">
      <ion-list>
        <ion-item-group *ngFor="let row1S of row1ObjectStruct.children">
          <ng-container *ngIf="row1S.selected">
            <app-states-component [appStates]="row1S.functionStates" [view]="'standard_list_divider'"
              [name]="row1S.name" (doMenuToggle)="row1S.menuOpen = !row1S.menuOpen"></app-states-component>
            <ng-container *ngIf=row1S.menuOpen>
              <ng-container *ngFor="let row2S of row1S.children">
                <app-states-component [appStates]="row2S.functionStates" [view]="'icon_list'" [name]="row2S.name">
                </app-states-component>
              </ng-container>
            </ng-container>
          </ng-container>
        </ion-item-group>
      </ion-list>
    </ng-container>
  </ion-content>
</ng-container>

<ng-container *ngIf="templateToShow === 'filter'">
  <ion-header>
    <br>
    <ion-toolbar>
      <ion-title>Filter</ion-title>
      <ion-buttons slot="start">
        <ion-button color="medium" (click)="templateToShow = 'overview'">
          <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div style="margin: 1em">
      <ion-list>
        <ion-item *ngFor="let row1S of row1ObjectStruct.children">
          <ion-label>{{helperService.getByLanguage(row1S.name)}}</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="row1S.selected"></ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ng-container>