.input-button_text {
  // --background: black;
  --padding-start: 5px;
  --padding-end: 5px;
  font-size: 12px;
  --padding-top: 1px
}
.input-button_image {
  // --background: black;
  --padding-start: 0px;
  --padding-end: 0px;
  font-size: 12px;
  --padding-top: 1px
}